@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}

@keyframes arrow {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(20px);
    }
}

@keyframes rocket {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-30px);
    }
}

@keyframes bounce {

    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes footerBack {
    0% {
        background-position: 0% 67%
    }

    50% {
        background-position: 100% 34%
    }

    100% {
        background-position: 0% 67%
    }
}