@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}

@keyframes arrow {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(20px);
    }
}

@keyframes rocket {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-30px);
    }
}